<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="stylesheet/login.css" />
  </head>
  <body>
    <div class="background">
      <div class="dots-texture">
        <div class="dots">
          <img
            class="texture"
            src="https://api.builder.io/api/v1/image/assets/TEMP/1dbeedbcac12234f2a1b557803f60eb5f8505eee?width=1936"
            alt=""
          />
        </div>
      </div>

      <div class="right-side-frame">
        <div class="author-label"><%= heading %></div>
        <div class="welcome-label">
          Welcome! This is the login page of your website, feel free to modify
          it!
        </div>
        <div class="register-instead-button">
          <div class="register-instead-button-label">Register instead?</div>
        </div>
      </div>

      <div class="main-frame">
        <div class="username-container">
          <img
            class="user-icon"
            src="https://api.builder.io/api/v1/image/assets/TEMP/2213a5cd2e80a66436a3ade9200ab91642f910b6?width=60"
            alt="User Icon"
          />
          <div class="username-placeholder">John Doe</div>
        </div>

        <div class="password-container">
          <svg
            class="password-icon"
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.7499 23.75V25C13.7499 25.3315 13.6182 25.6495 13.3838 25.8839C13.1494 26.1183 12.8314 26.25 12.4999 26.25H9.99994V27.5C9.99994 28.163 9.73655 28.7989 9.26771 29.2678C8.79887 29.7366 8.16299 30 7.49996 30H2.49999C1.83695 30 1.20107 29.7366 0.732229 29.2678C0.26339 28.7989 0 28.163 0 27.5V24.2675C0.000141593 23.6045 0.263625 22.9687 0.732496 22.5L10.4074 12.825C9.81421 10.8106 9.87018 8.66055 10.5674 6.67973C11.2646 4.69892 12.5678 2.98786 14.292 1.78919C16.0162 0.590518 18.074 -0.0349389 20.1736 0.00150695C22.2732 0.0379528 24.3081 0.734452 25.9897 1.99224C27.6712 3.25004 28.9142 5.00528 29.5422 7.0091C30.1703 9.01292 30.1516 11.1636 29.4889 13.1562C28.8261 15.1488 27.5528 16.8822 25.8496 18.1106C24.1465 19.339 22.0998 20 19.9999 20H17.4974V22.5C17.4974 22.8315 17.3657 23.1495 17.1313 23.3839C16.8969 23.6183 16.5789 23.75 16.2474 23.75H13.7474H13.7499ZM22.4999 10C23.1629 10 23.7988 9.73661 24.2676 9.26777C24.7365 8.79893 24.9999 8.16304 24.9999 7.5C24.9999 6.83696 24.7365 6.20108 24.2676 5.73223C23.7988 5.26339 23.1629 5 22.4999 5C21.8368 5 21.201 5.26339 20.7321 5.73223C20.2633 6.20108 19.9999 6.83696 19.9999 7.5C19.9999 8.16304 20.2633 8.79893 20.7321 9.26777C21.201 9.73661 21.8368 10 22.4999 10Z"
              fill="black"
            />
          </svg>
          <div class="password-placeholder">***********</div>
          <img
            class="hide-icon"
            src="https://api.builder.io/api/v1/image/assets/TEMP/d4893faad5cb2589d0d9b336174f2fd3d09168af?width=64"
            alt="Hide Icon"
          />
        </div>

        <div class="login-button">
          <div class="login-button-label">LOGIN</div>
        </div>
      </div>
    </div>
  </body>
</html>
